<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/dash/oldTestament">
        <h2 style="line-height: 36px">Old Testament</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/dash/newTestament">
        <h2 style="line-height: 36px">New Testament</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
  </ion-content>
</ion-view>
