<ion-view view-title="{{books}}">
    <ion-content>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chapter in oldTestament" type="item-text-wrap" ng-if="books=='Old Testament'" href="#/tab/dash/oldTestament/{{chapter.name}}">
        <h2 style="line-height: 36px">{{chapter.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chapter in newTestament" type="item-text-wrap" ng-if="books=='New Testament'" href="#/tab/dash/newTestament/{{chapter.name}}">
        <h2 style="line-height: 36px">{{chapter.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-content>
</ion-view>