<ion-view view-title="{{book}}">
    <ion-content>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chapter in oldTestament" type="item-text-     wrap">
        <h2 style="line-height: 36px">{{chapter}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chapter in newTestament" type="item-text-     wrap">
        <h2 style="line-height: 36px">{{chapter}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-content>
</ion-view>
    